<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Week 04 - Animation</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {{content-for "head"}}

    <link rel="stylesheet" href="assets/vendor.css"/>
    <link rel="stylesheet" href="assets/week-04.css"/>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="cordova.js"></script>
    <script src="cordova_plugins.js"></script>
    <script src="assets/vendor.js"></script>
    <script src="assets/week-04.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
